<ion-view title="Goals">
    <ion-content class="has-header padding">
        <ion-list>
            <ion-item class="goals" ng-repeat="goal in goals">
                <div goal-directive></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
